body {
   background: #ecf0f1;
   margin-bottom: 3em;
}

/* flash.css */
.flash-container {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 10%;
  background: white;
  color: rgb(198, 79, 79);
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  width: 500px;
  height: 50px;
  text-align: center;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Assistant', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.6px;
}

@media only screen and (max-width: 500px) {
  .flash-container {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -150px;
    top: 10%;
    background: white;
    color: rgb(198, 79, 79);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 300px;
    height: 50px;
    text-align: center;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.6px;
  }
}

/* list.css */
.list-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  padding: 20px;
}

/* nav.css */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

.nav-container {
  height: 60px;
  background-color: crimson;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px 40px;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 0.6px;
}

@keyframes move {
    0%   {transform: rotate(-10deg);}
    25%  {transform: rotate(10deg);}
    50%  {transform: rotate(-10deg);}
    75%  {transform: rotate(10deg);}
    100% {margin-left: 0; transform: rotate(-10deg);}
}

.nav-logo {
  color: white;
  font-size: 2.5em;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

.nav-button {
  font-family: 'Assistant', sans-serif;
  height: 40px;
  width: 100px;
  background: rgb(255,255,255);
  border-radius: 4px;
  color: crimson;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 6px;
  border-radius: 30px 0 0 0;
  padding-top: 7px;
  text-align: center;
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}

@media only screen and (max-width: 500px) {
  .nav-container {
    height: 60px;
    background-color: crimson;
    box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Assistant', sans-serif;
    letter-spacing: 0.6px;
  }

  .nav-logo {
    color: white;
    font-size: 2em;
    float: left;
    cursor: pointer;
    padding-top: 5px;
  }

  .nav-button {
    font-family: 'Assistant', sans-serif;
    height: 30px;
    width: 80px;
    background: white;
    color: crimson;
    float: right;
    font-size: 1em;
    margin-top: 12px;
    border-radius: 30px 0 0 0;
    padding-top: 7px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

/* note-card.css */
.note-card-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 200px;
  width: 200px;
  background: #fff;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.57);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Assistant', sans-serif;
  border-radius: 0 30px 0 0;
}

.note-card-container:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  margin-top: 30px;
  margin-bottom: 50px;
}

.note-card-title {
  width: 270px;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  background: crimson;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  overflow-y: hidden;
}

.note-card-tags {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 200px;
  height: 25px;
  padding-bottom: 13px;
}

.note-card-tag {
  font-size: 0.8em;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 0;
  background: rgb(242, 242, 242);
  border-radius: 2px;
  margin: 2.5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  letter-spacing: 0.6px;
  white-space: nowrap;
}

.note-card-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-top: 30px;
  width: 200px;
  height: 200px;
  font-size: 1em;
  white-space: pre-wrap;
  overflow: hidden;
}

.note-card-delete {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #c0392b;
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: sans-serif;
  cursor: pointer;
}

.note-card-delete:hover {
  background: #e74c3c;
  color: white;
  transform: rotate(180deg);
}

.note-card-edit {
  float: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: crimson;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: sans-serif;
  cursor: pointer;
}

.note-card-edit:hover {
  color: crimson;
  transform: rotate(90deg);
}

@media only screen and (max-width: 500px) {
  .note-card-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.57);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Assistant', sans-serif;
  }

  .note-card-container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

/*note.css */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.note-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  font-family: 'Assistant', sans-serif;
  width: 100%;
  height: auto;
}

.note-container h2 {
  background: #928f8f;
    color: #fff;
    padding: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0,0, .7);

}

.note-form {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.note-title {
  background-color: crimson;
  padding: 10px;
}

.note-title-input {
  border: none;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  width: 600px;
  background-color: crimson;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.note-title-input::placeholder {
  color: rgb(217, 217, 217);
}

.note-title-input:focus {
  outline: none;
}

.note-textarea-container {
  background: #fff;
  margin: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 40px;
}

.note-textarea {
  background: #ecf0f1;
  width: 500px;
  height: 200px;
  padding: 30px;
  border: none;
  resize: none;
  border-radius: none;
  font-family: 'Assistant', sans-serif;
  font-size: 1.2em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.note-textarea:focus {
  outline: none;
}

.note-button {
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  height: 40px;
  width: 100px;
  background: crimson;
  color: white;
  float: right;
  font-size: 1.5em;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 10px;
  border: none;
}

.note-button:focus {
  outline: none;
}

.note-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}


.tag-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 600px;
  height: auto;
  padding-top: 10px;
}

.tag-button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-size: 1.2em;
  color: rgb(158, 158, 158);
  height: auto;
  min-width: 150px;
  white-space: nowrap;
  margin-top: 3px;
}

.tag-button {
  background: rgb(158, 158, 158);
  color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  width: 25px;
  margin-left: 5px;
  margin-top: 2.5px;
}

.tag-button:hover {
  background: rgb(57, 175, 251);
}

.tag-input {
  padding-left: 2.5px;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;
  height: 25px;
  width: 120px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Assistant', sans-serif;
}

.tag-input:focus {
  outline: none;
}

.tag-list-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 5px;
}

.tag {
  padding-top: 2px;
  font-size: 1em;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 2px;
  transition: all 0.2s ease-in;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 25px;
  min-width: 80px;
  width: auto;
  position: relative;
  cursor: pointer;
  background: rgb(242, 242, 242);
  transition: all 0.2s ease-in;
  padding-left: 20px;
  padding-right: 20px;
  /*padding-top: 5px;*/
}

.tag:hover {
  background: rgb(57, 175, 251);
  color: white;
}

.delete {
  text-align: center;
  opacity: 0;
  float: right;
  padding-bottom: 5px;
  margin-top: auto;
  margin-left: 5px;
  margin-right: -15px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: sans-serif;
  font-size: 1.2em;
}

.tag:hover .delete {
  opacity: 1;
}

@media only screen and (max-width: 700px) {

  .note-title-input {
    width: 400px;
    margin-top: 20px;
    border: none;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid crimson;
    font-family: 'Assistant', sans-serif;
    background-color: crimson;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .note-textarea {
    width: 360px;
    height: 200px;
    border: none;
    resize: none;
    box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
    padding: 30px;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: none;
    font-family: 'Assistant', sans-serif;
    font-size: 1.1em;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .note-button {
    font-family: 'Assistant', sans-serif;
    height: 40px;
    width: 100px;
    background: crimson;
    color: white;
    float: right;
    font-size: 1.5em;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 10px;
  }

  .note-button:hover {
    background: rgb(198, 79, 79);
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  }


  .tag-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 400px;
    height: auto;
  }

  .tag-button-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row;
    font-size: 1.2em;
    color: rgb(158, 158, 158);
    height: auto;
    min-width: 150px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .tag-button {
    background: rgb(158, 158, 158);
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
    width: 25px;
    margin-left: 5px;
    margin-top: 2.5px;
  }

  .tag-button:hover {
    background: rgb(57, 175, 251);
  }

  .tag-input {
    padding-left: 2.5px;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    height: 25px;
    width: 120px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: 'Assistant', sans-serif;
  }

  .tag-input:focus {
    outline: none;
  }

  .tag-list-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  .tag {
    padding-top: 2px;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 25px;
    min-width: 80px;
    width: auto;
    position: relative;
    cursor: pointer;
    background: rgb(242, 242, 242);
    transition: all 0.2s ease-in;
    padding-left: 20px;
    padding-right: 20px;
    /*padding-top: 5px;*/
  }

  .tag:hover {
    background: rgb(57, 175, 251);
    color: white;
  }

  .delete {
    text-align: center;
    opacity: 0;
    float: right;
    padding-bottom: 5px;
    margin-top: auto;
    margin-left: 5px;
    margin-right: -15px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: sans-serif;
    font-size: 1.2em;
  }

  .tag:hover .delete {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {

  .note-title-input {
    margin-top: 20px;
    border: none;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px solid crimson;
    font-family: 'Assistant', sans-serif;
    width: 290px;
    background-color: crimson;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .note-textarea {
    width: 250px;
    height: 200px;
    border: none;
    resize: none;
    box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
    padding: 30px;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: none;
    font-family: 'Assistant', sans-serif;
    font-size: 1em;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .note-button {
    font-family: 'Assistant', sans-serif;
    height: 40px;
    width: 100px;
    background: crimson;
    color: white;
    float: right;
    font-size: 1.5em;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 10px;
  }

  .note-button:hover {
    background: rgb(198, 79, 79);
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  }


  .tag-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 300px;
    height: auto;
  }

  .tag-button-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row;
    font-size: 1em;
    color: rgb(158, 158, 158);
    height: auto;
    min-width: 150px;
    white-space: nowrap;
    margin-top: 3px;
  }

  .tag-button {
    background: rgb(158, 158, 158);
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
    width: 25px;
    margin-left: 5px;
    margin-top: 2.5px;
  }

  .tag-button:hover {
    background: rgb(57, 175, 251);
  }

  .tag-input {
    padding-left: 2.5px;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    height: 25px;
    width: 120px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: 'Assistant', sans-serif;
  }

  .tag-input:focus {
    outline: none;
  }

  .tag-list-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  .tag {
    padding-top: 2px;
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 20px;
    min-width: auto;
    width: auto;
    position: relative;
    cursor: pointer;
    background: rgb(242, 242, 242);
    transition: all 0.2s ease-in;
    padding-left: 20px;
    padding-right: 20px;
    /*padding-top: 5px;*/
  }

  .tag:hover {
    background: rgb(57, 175, 251);
    color: white;
  }

  .delete {
    text-align: center;
    opacity: 0;
    float: right;
    padding-bottom: 5px;
    margin-top: auto;
    margin-left: 5px;
    margin-right: -15px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: sans-serif;
    font-size: 1em;
    height: 10px;
    width: auto;
  }

  .delete > .material-icons {
    font-size: 1em;
    height: 5px;
    width: auto;
  }

  .tag:hover .delete {
    opacity: 1;
  }
}